* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}

/*Background*/
body {
    background: url(Images/br.jpg);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*blur*/
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}
.regular-txt {
    font-weight: 400;
}

/*Container for all items*/
.main-cont {
    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/*home button*/
.home-btn {
    position: absolute;
    top: 6%;
    
    background: none;
    border: 3px solid transparent;
    padding-right: 5px;
    cursor: pointer;
    font-size: 18px;
}
/* Search input */
.search-cont {
    position: relative;
    margin-bottom: 25px;
    padding-left: 27px;
}
.city-input {
    align-items: right;
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-left: 10px;
}
.city-input:hover {
    border: 3px solid rgb(0, 0, 0, 0.15);
}
.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}
/*search button*/
.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* Weather info */
.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*Location and date*/
.location-date-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

/*Image,Temp, and weather summary*/
.weather-summary-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-img {
    width: 120px;
    height: 120px;
}
.weather-summary-info {
    text-align: end;
}

/*Humidity and wind*/
.weather-conditions-cont {
    display: flex;
    justify-content: space-between;
}
.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}
.condition-icon {
    font-size: 20px;
}

/*Forecast*/
.forecast-items-cont {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding-bottom: 12px;
}
/*Individual forecast item*/
.forecast-item {
    min-width: 70px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}
.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}
.forecast-img {
    width: 35px;
    height: 35px;
}
/*Scroll forecast*/
.forecast-items-cont::-webkit-scrollbar {
    height: 8px;
}
.forecast-items-cont::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}
.forecast-items-cont::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

/*home page*/
.major-cities {
    position: center;
    gap: 15px;
}
.major-city{
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}
.major-city:hover {
    background: rgb(255, 255, 255, 0.15);
}
.city-img {
    width: 35px;
    height: 35px;
}
